In [1]:
import pandas as pd
import numpy as np
import math
import json
from collections import Counter
import random

In [2]:
from SPARQLWrapper import SPARQLWrapper, JSON
import requests

In [73]:
#считываем данные 
data = pd.read_csv('../data.csv')
day = pd.read_csv('../context_day.csv')
place = pd.read_csv('../context_place.csv')

In [74]:
#выбираем пользователя для расчета
variant = 38
userID = variant - 1
data.iloc[userID]

Unnamed: 0    User 38
 Movie 1            3
 Movie 2           -1
 Movie 3            1
 Movie 4            4
 Movie 5            2
 Movie 6            3
 Movie 7            4
 Movie 8           -1
 Movie 9            5
 Movie 10           3
 Movie 11           3
 Movie 12          -1
 Movie 13           3
 Movie 14           2
 Movie 15           4
 Movie 16           3
 Movie 17           1
 Movie 18           4
 Movie 19           2
 Movie 20           1
 Movie 21           5
 Movie 22           4
 Movie 23           3
 Movie 24          -1
 Movie 25           1
 Movie 26           4
 Movie 27           3
 Movie 28          -1
 Movie 29          -1
 Movie 30           4
Name: 37, dtype: object

In [75]:
#находим метрику сходства с каждым пользователем
def sim(v):
    data2 = data.drop(data.columns[0], axis = 1)
    resultList = {}
    for u in range(data2.shape[0]):
        num = 0
        vdenum = 0
        udenum = 0
        if (u != v):        
            uv = data2.iloc[[u, v]]
            uv = uv.transpose()
            for i,movie in uv.iterrows():
                if ((movie[u] != -1) & (movie[v] != -1 )):
                    num += movie[u] * movie[v]
                    udenum += pow(movie[u], 2)
                    vdenum += pow(movie[v], 2)
                    res = round(num / ((math.sqrt(udenum) * math.sqrt(vdenum))), 3)
        resultList[u] = res
        #сортируем результат и выбираем четырех ближайших соседей
        sim = list(resultList.items())
        sim.sort(key = lambda i: i[1], reverse = True)
        sim = sim[:4]
    return sim

In [76]:
simk = sim(userID)
simk

[(25, 0.932), (21, 0.924), (5, 0.915), (11, 0.91)]

In [77]:
#функция для поиска средней оценки пользователя
def avg(user):
    count = 0
    mark = 0
    for i in range(1, data.shape[1]):
        if data.iloc[user][i] != -1:
            count += 1
            mark += data.iloc[user][i]
    res = round(mark / count,3)
    return res

In [78]:
avgU = avg(userID)

In [79]:
#с помощью метрики косинуса находим предполагаемую оценку пользователя для фильма
def getMark(u, movie):
    num = 0
    denum = 0
    if data.iloc[u, movie] == -1:
        for v in simk:
                if data.iloc[v[0], movie] != -1:
                    num += v[1] * (data.iloc[v[0], movie] - avg(v[0]))
                    denum += v[1] 
        res = round(avgU + num / denum, 3)
    return res

In [80]:
#получаем результат для всех неоцененных фильмов
def firstRes():
    result = []
    for i in range(data.shape[1]):
        if data.iloc[userID, i] == -1:
            result.append("Movie "+str(i)+": "+ str(getMark(userID, i)))
    return result

In [81]:
firstRes()

['Movie 2: 4.013',
 'Movie 8: 3.595',
 'Movie 12: 3.204',
 'Movie 24: 4.031',
 'Movie 28: 2.71',
 'Movie 29: 3.469']

In [82]:
#Для выбора фильма для домашнего просмотра в выходные выберем фильмы, 
#которые ближайшие по метрике сходства 4 пользователя смотрели дома в выходные.
#Уберем из них фильмы, которые пользователь уже смотрел, а из оставшихся порекомендуем тот фильм, что был просмотрен более одного раза,
#а если такого нет - рандомный фильм из полученного списка.

def getFilm(userID):
    movieList = []
    res = 0
    for v in simk:
        usV = v[0]
        for movie in range(data.shape[1]):
            if data.iloc[usV, movie] != -1 and place.iloc[usV, movie] == ' h' and day.iloc[usV, movie] == ' Sat' or day.iloc[usV, movie] == ' Sun':
                movieList.append(movie)
    unwatched = []
    for i in movieList:
        if data.iloc[userID, i] == -1:
            unwatched.append(i)
    counter = Counter(unwatched) 
    for i in counter:
        if counter[i]>1:
            res = i
            if res == 0:
                res = random.choice(unwatched)
    return res

In [83]:
recomended = getFilm(userID)

In [84]:
names = pd.read_csv('../movie_names.csv')

In [85]:
names

     Movie 1                           The Shawshank Redemption
0    Movie 2                                      The Godfather
1    Movie 3                             The Godfather: Part II
2    Movie 4                                    The Dark Knight
3    Movie 5                                       12 Angry Men
4    Movie 6                                   Schindler's List
5    Movie 7      The Lord of the Rings: The Return of the King
6    Movie 8                                       Pulp Fiction
7    Movie 9                      The Good the Bad and the Ugly
8   Movie 10                                         Fight Club
9   Movie 11   The Lord of the Rings: The Fellowship of the ...
10  Movie 12                                       Forrest Gump
11  Movie 13     Star Wars: Episode V - The Empire Strikes Back
12  Movie 14                                          Inception
13  Movie 15              The Lord of the Rings: The Two Towers
14  Movie 16                    One Flew Over the Cuckoo's Nest
15  Movie 17                                         Goodfellas
16  Movie 18                                         The Matrix
17  Movie 19                                      Seven Samurai
18  Movie 20                                        City of God
19  Movie 21                                              Se7en
20  Movie 22                 Star Wars: Episode IV - A New Hope
21  Movie 23                           The Silence of the Lambs
22  Movie 24                              It's a Wonderful Life
23  Movie 25                                  Life Is Beautiful
24  Movie 26                                 The Usual Suspects
25  Movie 27                                      Spirited Away
26  Movie 28                                Saving Private Ryan
27  Movie 29                             Leon: The Professional
28  Movie 30                                     The Green Mile

In [86]:
for i in range(0, names.shape[0]):
    if names.iloc[i, 0] == 'Movie '+str(recomended):
        movieName = names.iloc[i,1]
movieName

" It's a Wonderful Life"

In [87]:
API_ENDPOINT = "https://www.wikidata.org/w/api.php"
params = {
    'action' : 'wbsearchentities',
    'format' : 'json',
    'language' : 'en',
    'search': movieName
}
res = requests.get(API_ENDPOINT, params = params)
res.json()['search'][0]['id']

'Q204191'

In [88]:
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")

query = """

SELECT ?awardLabel
WHERE 
{
  wd:Q204191 wdt:P57 ?director.
  ?director wdt:P166 ?award.
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
 
"""

sparql.setQuery(query)

sparql.setReturnFormat(JSON)
results = sparql.query().convert()

In [89]:
results_df = pd.json_normalize(results['results']['bindings'])
results_df[['awardLabel.value']].head()

                  awardLabel.value
0                   Academy Awards
1  Academy Award for Best Director
2       AFI Life Achievement Award
3                  Legion of Merit
4      Distinguished Service Medal

In [90]:
with open('sparqlRes.txt', 'w') as file:
        json.dump(results, file, indent=10)